{% extends "base.html" %}

{% block title %}Edit Assigned Teachers{% endblock %}

{% block content %}
<div class="container mt-5">
    

    {% if form.errors %}
    <div class="alert alert-danger">
        <p>There were some issues with your submission. Please check below:</p>
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            <label for="teacher_id" class="form-label">Teacher</label>
            {{ form.teacher_id }}
            <div class="text-danger">{{ form.teacher_id.errors }}</div>
        </div>

        <div class="mb-3">
            <label for="course_id" class="form-label">Course</label>
            {{ form.course_id }}
            <div class="text-danger">{{ form.course_id.errors }}</div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'assign_teacher_list' %}" class="btn btn-secondary">Back to assigned teachers List</a>
        </div>
    </form>
</div>
{% endblock %}
